#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html.is-spatial {
  background-color: transparent;
  --xr-background-material: transparent;

  button {
    padding: auto;
  }
  .card {
    padding: 20px 0;
  }

  .count-card {
    --xr-background-material: thick;
    position: relative;

    p {
      --xr-background-material: transparent;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      --xr-back: 20;
    }
  }

  .link-card {
    --xr-background-material: translucent;
    border-radius: 20px;
    position: relative;
    top: 20px;
    --xr-back: 50;
    transform-origin: top left;
    transform: translateZ(30px) rotateX(30deg);

    p {
      padding: 0;
      margin: 0px 20px;
    }
    a {
      display: block;
      padding: 5px 10px;
      height: 40px;
      --xr-background-material: thick;
      border-radius: 10px;
    }
  }
}
